#Gift{
	max-width: min( 15vh , 15vw) ;
        width: 16vh;
        min-width: calc( 1vh + 1vw + 1em + 1ex + 30px );
	z-index: 19;
	cursor: pointer;	
	position: absolute;
	right:  50%;
	top:  50%;
	opacity: 0.5; 
	background: url(gifts/tr_pix.png) ;
}

div.gift{
	width: 58px;
	height: 58px;
	margin: 0px;
	background: url(gifts/gift-box.png) no-repeat 50% 50%;
	background-size: 100%;
	transition:  0.5s;
}

div.gift:hover{
	width: 58px;
	height: 58px;
	margin: 0px;
	background: url(images/pic12.gif) no-repeat 80% 50%;
	background-size: 100%;
}



img.picgift{
	width: 90%;
	z-index:999;
	background: none;
}
img.picgiftReal{
	width: 90%;
	background: none;
	cursor: pointer;
}


img.picgift:hover{
	background: none;
	transition:  1.5s;
}



#CongDiv{
    display: none;
    position: fixed;
    z-index: 999;
    margin: 0;
    padding: 1vw;
	left:0;
    top:0; 
    width: 100%;
    height: 100%;
        overflow: auto;
    background: url('images/fone.jpg');
	background-repeat: repeat;
	---background-size: 90%;
    background-color: rgba(30, 0,40, 0.9); 
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    transition: 2s;
}
#CongDivFlex{
	display: flex;
	padding-top: 1vh;
	flex-direction: column;
	---justify-content: space-evenly;
	align-content: space-around;
	align-items: center;
	margin-top: auto;
	height: min( 95vh, 99% );
    ---border: 1px solid red;
	width: 99%;
}

#CongImg{
	background-color: rgba(200, 200, 200, 1.0); 
	max-width: 99%;
    max-height: 99%;
	height: min( 50vh, 60vw );
    border: 1px solid #aaaaaa;
	border-radius: 10px;
	text-align: center;
}


.CongImgW{
	height: 99%;
	max-width: 99%;
}

.CongImgH{
	max-height: 99%;
	width: 99%;
}

#CongOver{
	display: flex;
	align-self: center;
	justify-content: center;
	max-width: 99vw;
	padding: calc(0.2vh + 0.1vw );
	margin-top: 2vh;
	background:  rgba(250, 250, 0, 0.5);
    background-size: 5% 5%;
	background-repeat: repeat;
	border-radius: 10px;
}

#CongText{
	font-size: calc(1em + 1.5vh + 0.5vw );
	font-weight: bolder;
	padding: 1vh;
	color: #BB3300;
	text-shadow: 1px  1px 10px white,
				-1px -1px 10px white,
				 1px -1px 10px white,
			 1px -1px 10px white; 
 }
 

.repeat{
	position: absolute;
	bottom: 5%;
	right: 1%;
	min-width: 5em;
	min-height: 3%;
	color: orange;
	font-size: calc(1em + 0.5vh + 0.4vw);
	font-weight: bolder;
	margin: 1%;
	background: rgba(100, 255, 100, 0.6);
	padding: 1%;
	border: 1px green ridge;
	border-radius: 0em 50% 50% 0; 
	animation: color-repeat 30s;
}
@keyframes color-repeat {
	0% { background: rgba(100, 255, 100, 0.0); color: rgba(100, 255, 100, 0.0);}
	50% { background: rgba(100, 100, 100, 0.2); }
	100% { background: rgba(100, 255, 100, 0.6); color: orange;}
  }