.loading{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  color: white;
  justify-content: center;
  background: rgba(10, 200, 10, 0.95) url('images/loading.gif') 10% 10% no-repeat;
  background-size: min( 40vw , 40vh );
  background-position: center;
  padding: 5vh;
  margin: 0;
  cursor: none;
  width: 100vw;
  height: 100vh;
  animation: blink 1s infinite alternate;
}

#loadingIn{
  text-align: center;
  width: 100%;
  height: 100%;
}
.load_ind{
  animation: blink 0.6s infinite alternate;
  font-size: calc(1em + 3.1vw + 1vh);
  text-align: center;
}
.load_snow{
  padding: 0;                          	
  animation: rota 3s infinite alternate;
  font-size: calc( 2em + 1vw + 3vh );
  min-width: 1vw;
  width: 11vw;
}

@keyframes rota {
  to { transform: rotate(-360deg); }
 to { margin-left: 50%; }
}

@keyframes blink {
  to { color: rgba(10, 200, 10, 0.7) }
}
